<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
    <!-- <property name="connection.url">jdbc:jtds:sqlserver://VMETRIX-1:1433/vmetrix;instance=SQLEXPRESS</property> -->
    <property name="connection.url">jdbc:jtds:sqlserver://RUBEND:57386/DWT_Itau;instance=SQLEXPRESS</property>
    <property name="connection.username">test</property>
    <property name="connection.password">test</property>
    <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.current_session_context_class">thread</property>
  </session-factory>
</hibernate-configuration>